@{
    ViewBag.Title = "简介";
}
<selection id="introduce">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6">
                <img class="img-fluid" src="~/Content/image/NIT-Library-1.jpg">
            </div>
            <div class="col-md-6 ">
                <h1 class="mb-3 bd-text-purple-bright">NIT 图书馆简介</h1>
                <p class="lead">
                    NIT 图浙江大学宁波理工学院图书馆于2001年7月开始筹建。
                    在馆舍建设期间，图书馆暂在学校南教学楼2楼开展工作。
                    2002年9月现馆舍落成启用，馆舍建筑面积2.12万平方米，
                    可容纳纸本藏书约100万册，阅览座位2050个。
                    书馆位于浙江大学宁波理工学院中部。
                </p>
            </div>
        </div>
    </div>
</selection>
<selection id="struct">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 ">
                <h2>馆藏建设</h2>
                <p class="lead">
                    经过16年的建设与发展，截至2017年底，图书馆馆藏总量达到144.5万册（件），
                    其中，纸质图书资料110.9万册，电子资料33.6万册（件）。生均年新增纸质图书4.6册，
                    超过了国家教育部对本科院校图书馆年新增图书的指标要求。
                </p>
                <p class="lead">
                    2005年7月，浙江大学校友郑润生先生和夫人钱可珍女士
                    向图书馆捐赠了价值170万元新台币的《近代中国史料丛刊》（台湾文海出版社）、《丛书集成续编》（台湾新文丰出版公司）、《台湾文献丛刊》（光盘版）共3629册。
                    为保存、利用好这批珍贵文献，图书馆建立了特藏室。为丰富特藏，陆续收藏《四库全书》（文渊阁）、《续修四库全书》、《四库未收书辑刊》、《四库禁毁书丛刊》、《民国图书集粹》等文献。
                    目前特藏室共有1.76万册珍贵文献，逐步形成了近代史和民国文献的特色馆藏。本馆与美国亚洲基金会和“中美之桥”建立了外文原版图书捐赠的长期合作关系，至今共收到外文原版捐赠图书约3.7万册。
                </p>
                <p class="lead">
                    为加强重点专业建设，按照“学院解决人员、场地、设施，图书馆负责文献资源建设和业务指导”的原则，先后建立了5个学院资料室，形成了以图书馆为主体、学院资料室为补充的学校文献资源保障体系。
                </p>
                <p class="lead">
                    图书馆致力于数字资源整合，全校师生可通过校园网共享浙江大学、宁波市数字图书馆的数字资源。
                    图书馆与中国高等教育文献保障系统（CALIS）、中国高校人文社会科学文献中心(CASHL)、国家科技图书文献中心（NSTL）、浙江省高校数字图书馆（ZADL）等国家级和省级文献系统建立了合作关系。
                    本校师生可利用的数字资源数量位居全国高校前列。通过资源共建共享，图书馆较好地满足了学校教学、科研对文献信息的需求，并为宁波市社会公众提供文献信息服务。
                </p>
            </div>
        </div>
    </div>
</selection>
<selection id="service">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 ">
                <h2>读者服务</h2>
                <p class="lead">
                    图书馆坚持“读者第一，服务至上”的办馆理念，主动应对读者需求的变化和信息技术的发展，为学校师生提供全方位的文献信息服务。
                </p>
                <h5>文献借阅与咨询服务</h5>
                <p class="lead">
                    图书馆周开放时间93小时，考试季开放98小时。每位读者的允许借书量达20册。2017年，共借还图书15.7万册，进馆读者59.8万人次。
                </p>
                <p class="lead">
                    随着服务的深化，陆续增设了书刊荐购、续借、预约、图书催还邮件提醒通知、手机短信定制服务、新书通报、图书导读、在线咨询台、咨询微博、
                    微信公众号、移动图书馆APP、SCI/EI论文检索、本校作者论文被国内外重要数据库收录信息推送等服务，2007年以来每年举办图书馆服务宣传月活动，
                    开展图书馆资源利用推广、网络资源搜索大赛等系列活动，促进了与读者的互动和交流。
                </p>
                <h5>用户教育</h5>
                <p class="lead">
                    编印了《图书馆手册》，每年度对全体新生开展入馆教育。自主开发用户培训预约系统，常年举办“数字资源利用与信息素质提升”系列讲座和课程嵌入式讲座。
                    2017年举办各类讲座39场，培训读者2241人次，完成新生入馆教育近3000人。此外，还通过网上咨询等方式对读者进行信息检索知识和技能的培训。
                </p>
                <h5>数字化服务</h5>
                <p class="lead">
                    建立了<a href="http://lib.nit.net.cn/"> 图书馆网站</a>，开发了“数字资源整合导航服务”系统，集成了本院以及浙江大学和宁波大学园区图书馆等的数字资源。
                    建立了“学科与教学服务平台”，依托平台开展收录检索论文推送服务、开放课程导航、讲座在线预约与管理、热书发现与在线导读等服务。
                    利用Web2.0技术和门户新技术，研发了集资源建设和服务于一体的门户系统，基于该系统分别创建了“<a href="http://outsourcing.nit.net.cn/">服务外包产业特色数据库门户</a>”、
                    “<a href="http://ocean.nit.net.cn/">海洋信息资源服务平台</a>”。创建了“<a href="http://odp.nit.net.cn/">学术信息资源开放目录</a>（内网）”网站。基于维基系统创建了<a href="http://lib.nit.net.cn/xxjs/">《信息检索》</a>网络教材。
                    为提升信息资源保障能力，分别与宁波市数字图书馆、CALIS、NSTL、CASHL等系统建立了文献传递机制。2017年，数字图书馆和移动图书馆总浏览量达109.73万次，其中网站PC端
                    68.33万次，移动端18.19万次，咨询服务微博23.21万次。
                    全校师生订阅微信图书馆的粉丝9233人，渗透率75.1%。共发布微信276条，全年总阅读量18.2万次。
                </p>
            </div>
        </div>
    </div>
</selection>
